# API URL
VITE_API_URL=http://localhost:3000

# Google OAuth
VITE_GOOGLE_CLIENT_ID=tu_google_client_id

# Configuración de la aplicación
VITE_APP_NAME=NeuroPod
VITE_APP_DESCRIPTION=Plataforma para gestionar y ejecutar contenedores Docker
